@import url('https://fonts.googleapis.com/css?family=Maitree:400,700&display=swap');

.App{
  display: grid;
  grid-template-columns: 20rem auto;
  width: 100vw;
  height: 100vh;
  font-family: 'Maitree', serif;
}

.InfoContainer{
  grid-column: 1;
  background-color: #f0f2f4;
}

.MapContainer {
  grid-column: 2;
}