@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500&display=swap');

.Nav {
  padding: 1rem;
  background-color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5rem;
}

.Nav-logo {
  height: 4rem;
}